<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
{{PROGRAM_ARGUMENTS}}
  </array>
  <key>WorkingDirectory</key>
  <string>{{WORKING_DIR}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>{{PORT}}</string>
    <key>HOSTNAME</key>
    <string>{{HOSTNAME}}</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{LOG_DIR}}/minder-service.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{LOG_DIR}}/minder-service.err.log</string>
</dict>
</plist>
